html, body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    background-color: #fefefe;
}

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#divider {
    width: 100%;
    border-bottom: solid 1px #eee;
    margin: 5px 0;
}

.name {
    font-family: sans-serif;
    font-size: 16px;
}

.c-list {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 79%;
    top: 62%;
    left: 0;
    overflow: scroll;
    margin: 20px;
    border: ridge 2px #eee;
    padding: 5px;
    text-transform: capitalize;
    background-color: rgba(255,255,255,0.95); // #fff;
    box-shadow: 0 0 8px -5px black inset;
}

.plaxLayer {
    margin: auto;
    width: 500px;
    height: 500px;
}

.btn {
    display: block;
    border: solid #CCC 1px;
    border-radius: 8px;
    margin: auto;
    padding: 5px 10px;
    width: 8rem;
    height: 1rem;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #ccc;
    }
}

.modal {
    width: 800px;
    height: 400px;
    background-color: #fefefe;
}
