html, body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    background-color: #fefefe;
}

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#divider {
    width: 100%;
    border-bottom: solid 1px #eee;
    margin: 5px 0;
}

.name {
    font-family: sans-serif;
    font-size: 16px;
}

.c-list {
    position: fixed;
    bottom: 0;
    right: 79%;
    top: 62%;
    left: 0;
    overflow: scroll;
    margin: 20px;
    border: ridge 2px #eee;
    padding: 5px;
    text-transform: capitalize;
    background-color: #fff;
    box-shadow: 0 0 8px -5px black inset;
}
