@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:400,700');

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

#divider {
    width: 100%;
    border-bottom: solid 1px #eee;
    margin: 5px 0;
}

.header {
    display: block;
    font-weight: 200;
    letter-spacing: -0.03rem;
}

.name {
    display: block;
    font-size: 0.6rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -0.01rem;
}

.cellContent {
    font-size: inherit;
}

.customCard {
    display: inherit;
    font-family: 'Montserrat', sans-serif;
}

.customTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.customCardFooter {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: auto;
    padding: 0 15px;
}

.cardContent {
    font-family: 'Fira Mono', monospace;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 9px 15px 0;
    letter-spacing: initial;
    line-height: 1.1rem;
    overflow: hidden;
    &.clicked {
        position: relative;
        padding: 0;
        max-width: 100%;
    }
}

.libList {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    min-width: 150px;
    overflow: scroll;
    margin: 10px;
    border: solid 1px #eee;
    padding: 5px;
    color: #ccc;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.05); // #fff;
    box-shadow: 0 0 8px -5px #eee inset;
    transition: all ease 0.5s;
    &:hover {
        color: #000;
        box-shadow: 0 0 8px -5px black inset;
        background-color: rgba(255,255,255,0.95); // #fff;
        transform: scale(2) translate(25%, -25%);
    }
}

.plxWrap {
    background: #e8e8e8;
    width: 900px;
    height: 600px;
    clear: both;
    &:before {
        content: "";
        float: left;
        width: 50%;
        height: 50%;
        background: #c5e8e8;
    }
}
.plaxLayer {
    margin: auto;
    clear: both;
}

.btn {
    display: block;
    border: solid #CCC 1px;
    border-radius: 8px;
    margin: auto;
    padding: 5px 10px;
    width: 8rem;
    height: 1rem;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #ccc;
    }
}